/*! Auth layout css  */
.authentication-bg-img{
    background-image: url('../src/assets/bg-food.png');
    background-position: center center;
    background-size: cover;
}

.container-fluid.overlay{
    background: linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);
}

/*! utilies*/
.bg-cus-primary{
    background-color:rgba(74, 163, 90, 1);
}
.text-cus-primary{
    color:rgba(74, 163, 90, 1);
}
.btn-main{
    --bs-btn-color: #fff !important;
    --bs-btn-bg: rgba(74, 163, 90, 1) !important;
    --bs-btn-border-color: rgba(74, 163, 90, 1) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: rgb(20, 102, 64,1) !important;
}
.bg-secondary-custom{
    background-color: #f7f7f7 !important;
}

.textarea-resize{
    resize:vertical ;
    min-height: 98px !important;
    max-height: 180px !important;
}
.file-image-input{
    cursor: pointer;
    border: 2px solid rgba(74, 163, 90, 1);
    border-style: dashed;
}
.close-icon{
    position: absolute;
    top: -10px;
    right: -8px;
    cursor: pointer;
    padding: 1px;
    background-color: red;
    border-radius: 50%;
    color: white !important;
    border: 1px solid white;
}
.cursor-pointer{
    cursor: pointer;
}

/* ! header  */
.header-container{
    background-image: url('../src/assets/images/headerBg.png');
    background-color: rgba(0, 146, 71, 1);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    color: #fff;
}

.header-image  {
    width: 150px;
    top:5px
}
.sub-header-bg{
    background-color: rgba(240, 255, 239, 1);
} 
/*! Pro Sidebar */

.sidebar-container{
    min-height: 100vh; 
}
.sidebar-container .sidebar-logo{
    width: 150px;
    height: 150px;
}
.sidebar-container .sidebar-logo.css-1t8x7v1 >.ps-menu-button:hover {
    background-color: transparent !important;
    border: none;
}
.sidebar-container .sidebar-logo :hover {
    background-color: transparent !important;
}
.sidebar-container .css-1t8x7v1 >.ps-menu-button:hover ,.active{
    background-color: rgba(0, 146, 71, 0.1) !important;
    border-left: 5px solid rgb(0, 146, 71);
}

.sidebar-container .css-dip3t8 {
    background-color: rgba(31, 38, 62, 1);
    border-top-right-radius: 50px;
    color: #fff;
    min-height: 100vh; 
}

.bill-notification{
    width: 8px;
    height: 8px;
    background-color: red;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 0;

}

/* !Table list */
.table-rounded{
    border-radius: 20px !important;
    overflow: hidden;
}
.table>:not(caption)>*>*{
    --bs-border-width:0;
 
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-striped-bg:white;
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-responsive{
    overflow: visible !important;
}

 

.modal .modal-header .btn-close {
    --bs-btn-close-bg:"" !important;
    padding: 2px;
    border: 2px solid red !important;
border-radius: 30px;
color: red !important;
display: flex;
align-items: center;
justify-content: center;
font-weight: 600;

}
.modal .modal-header .btn-close::before{
    content: "X";
   
}

/* pagination */

.pagination .sidebar-container .css-1t8x7v1 >.ps-menu-button:hover, .active {
    border: none;
}
.pagination .active>.page-link, .page-link.active{
    background-color: rgb(0, 146, 71) !important;
    border-color: rgb(0, 146, 71) !important;
}